---
    import * as RecordModel from "../../../loaders/record";
    import {iteration_style_container_id} from "../../../style/constants";

    import CommonPage from "../../../layouts/commonpage.astro";
    import Record from "../../../components/record/record.astro";

    const {chapter, name} = Astro.params;

    if (!chapter || !name) {
        return Astro.redirect("/404"); // TODO this way sucks because the original URL
                                       // gets destroyed by the 404... there must be something better
    }

    const record = await RecordModel.get(name, chapter);
    if (!record) {
        return Astro.redirect("/404");
    }
---

<CommonPage>
    <div id={iteration_style_container_id} data-iteration={record.options.iter}>
        <Record record={record}/>
    </div>
</CommonPage>

<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>

<script src="../../../style/set_accent_by_iteration"></script>