---
---

<div class="page">
    <div>stuff</div>
    <div class="view grow">
        <div>stuff</div>
        <div class="grow">stuff</div>
    </div>
</div>

<style>
    * {
        border: 1px solid red;
    }

    .page {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        height: 90vh;
        width: 90vw;
        margin: 0;
        padding: 0;
    }

    .grow {
        flex-grow: 1;
    }

    .view {
        display: flex;
        flex-flow: column nowrap;
    }
</style>